@charset "UTF-8";
/* 共通部分
----------------------*/
html{font-size: 100%;
}
body{font-family: "Noto Sans JP", "MyYuGothicM", "YuGothic", "-apple-system", "system-ui", "Hiragino kaku Gothic ProN", "Meiryo", "Verdana", "arial", "helvetica", "sans-serif";
font-weight: 400;
}

img{max-width: 100%;
}
/* header
----------------------*/
.header {display: flex;
justify-content: space-between;
padding-top: 15px; 
font-weight: 900;
font-size: 16px;
}

.header-catch{
  margin: 0 21px;
}
.header .header-catch p a span{
  display:inline-block;
  vertical-align: top;
  margin: 0 0 8px 16px;

}
/*headerナビ部分*/
.main-nav
{display: flex;
}
.main-nav li{
  margin:3px 12px;
  list-style: none; 
}
.main-nav li ul li{
  display: block;

}
/*headerロールオーバー部分*/
 
.main-nav ul li {
  display: none;
  }
  .main-nav li ul:hover li a{
    background-color: #efefef;
    color: #444;
    }
a:link, a:visited, a:hover, a:active {
  color: #121212;
  text-decoration: none;
}  


