@charset "UTF-8";
/* 共通部分
----------------------*/
html{font-size: 100%;
}
body{font-family: "Noto Sans JP", "MyYuGothicM", "YuGothic", "-apple-system", "system-ui", "Hiragino kaku Gothic ProN", "Meiryo", "Verdana", "arial", "helvetica", "sans-serif";
font-weight: 500;
}

img{max-width: 100%;
}

/* header
----------------------*/
.header {
    display: flex;
    justify-content: space-between; 
    font-weight: 900;
    font-size: 16px;
    height: 70px;
.header-catch {
    margin: 0 21px;
    padding-top: 10px;
p {
a {text-decoration: none;
span {
    display:inline-block;
    vertical-align: top;
    margin: 0 0 0 16px;
    color: #131D34;    
          }     
    }
}
}
}
/*headerナビ部分*/
.main-nav{
    display: flex;
    font-weight: 900;
    height: 70px;
>li{ 
    position: relative;
    white-space: nowrap; 
    list-style: none;
    width:146px;
    height: 70px;
&:nth-child(4){
        width: 100px;}
&:hover {
    display: block;
    background-color: #d4faff;
ul{ 
    display: block;                        
li{ 
    list-style: none;
    background-color: #e9f8fb;
    width: 260px;
    height: 60px;
    padding: 20px 10px 15px 15px;
    a{  
    position: relative;
    height: auto;
    text-decoration: none;
    font-weight: 400;    
    color: #131D34;
        }
       }
      }
     }

&:nth-child(5) {
    background-color: #2498B2;
}
>a{
    display: flex;
    height: 70px;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    color: #131D34;
    }
}
ul{ display: none;}
}
/*article部分*/
.tophead {
    background: url("/images/nav-rayer1.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    z-index:  20;
    position: relative;

>.tophead-layer , .tophead-layer1 , .tophead-layer2{
    position: absolute;
    width: 100%;
    height: 100%;
}
.tophead-layer1{
    padding-top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: url("/images/bg-hero1.png") no-repeat center center;
    z-index: 100;

.tophead-body {
    width:416px ;
    height: 323px;
    background-color: #fff;
    border-radius: 10px;
    padding: 43px 40px 19px;
    text-align: center;
    
img {
    width: 280px;
    height: auto;}
p { 
    font-weight: 700;
    margin: 12px 0;

}
.btn{
    width:292px;
    height:68px;
    background-color: #A2D729;
    padding: 20px 0;
    margin: 30px 20px;
    border-radius: 10px;
    justify-content: center;
    font-weight: 900;
    &:hover {
        background-color: #99c434;}
    

    a {color: #131D34;
       text-decoration: none;
    

}
}
}
.tophead-layer2{
    background: url("/images/nab-raiyer2.png") no-repeat center;
    z-index: 50;
}
}

}
